body {  
    text-align: center;
    font-family: 'Oswald', sans-serif;
    padding: 0;
    margin: 0;
}

.container { 
    display: grid;
    grid-template-columns: repeat(5, 20%);
    gap: 1rem;
    max-width: 1050px;
    padding: 40px 0 0 0;
    margin: 0 auto;
}

.grid-item {    
    border-radius: 5px;
}

.grid-item img {
    width: 100%;
    height: auto;
}

/* HEADER - TOP BOX */
.item-1 {   
    grid-column: 1/ span 5;
    background-color: #0F0B07;
    color: white;
    /* color: #C3BCB5; */
    font: bold 2em/1.2 Oswald, sans-serif;
}
/* SPACE GUY */
.item-2 {   
    grid-row: 2/ span 3;
    padding: 60px 15px 0 15px;
    background-color: #F64740;
}
/* CREATION OF ADAM IMAGE */
.item-3 {   
    grid-column: 2 / span 2;
    grid-row: 2 /span 2;
}
/* SPINNERS */
.item-4 {   
    grid-column: 4;
    grid-row: 2/ span 2;
    place-self: center;
   
}
/* ANDY WARHOL QUOTE */
.item-5 {   
    place-self: center;
    grid-row: span 2;
    grid-column: 5 /span 1;
    background-color: #86C766;
    color: #0F0B07;
   
}

.art-quote {    
    padding: 20px;
}

.quote { 
    letter-spacing: 2px;
    color: white;
    line-height: 1.5em; 
    text-align: left;
    padding-left: 15px;
    /* margin: 10px; */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 20px;
}
.text-span {    
    color: #0F0B07;
    font-weight: 200;
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
}
.andy {
    font-weight: 300;
    font-size: 20px;
}
/* LEGO HULK IMAGE */
.item-6 {   
    grid-column: 2 / span 3;
}
/* SQUARE WITH WITH PULSE */
.item-7 {   
    grid-column: 5/6;
    place-self: center;
}
/* FORM AREA */
.item-8 {
    grid-column: span 5;
    padding: 10px 0;
    background-color: darkgray;
}

label { 
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #0F0B07;
}

.text { 
   width: 15em;
    margin: 10px;
    border-radius: 3px;
    border: 1px solid transparent;
    
}

.check {    
    margin-left: 10px;
    accent-color: #593C8F;
}

.button {   
    padding: .5em 1em;
    border-radius: 5px;
    background-color: #0F0B07;
    color: white;
    margin-left: 10px;
    font-family: 'Roboto', sans-serif;
    border: 1px solid darkslategray;
   
}

.checkbox-container {   
    display: inline;
}

input[type="checkbox"] {    
    margin-right: 0;
    padding-right: 0;
}

.hulk, .creation { 
    border-radius: 5px;
}

.spin-box { 
box-sizing: border-box;
 height: 200px;
 width: 200px;
}
/* POSTION INNER SQUARE DIVS TO FIXED FOR STACKING */
.inner { 
  margin: 55px;
    position: absolute;
}

.spinner-1 {  
    background-color: #593C8F;
    opacity: .8;
    width: 90px;
    height: 90px;
    border-radius: 9px;
    animation: spin-clockwise 5s linear infinite;
    z-index: 0;
}

.spinner-2 {    
    width: 90px;
    height: 90px;
    border-radius: 9px;
    background-color: #F64740;
    opacity: .7;
    animation: spin-counter-clockwise 7s linear infinite;
    z-index: 2;
}

.spinner-3 {  
    background-color: #86C766;
    opacity: .8;
    width: 90px;
    height: 90px;
    border-radius: 9px;
    animation: spin-clockwise 8s linear infinite;
    z-index: 3;
}
@keyframes spin-clockwise {
    from {  
        transform: rotate(0deg);
      
    }
    to {    
        transform: rotate(360deg);
       
    }
}

@keyframes spin-counter-clockwise {
    from {  
        transform: rotate(0deg);
      
    }
    to {    
        transform: rotate(-360deg);
       
    }
}


.beat{  
    background-color: #593C8F;
    width: 90px;
    height: 90px;
    border-radius: 9px;
    animation: beat 3s ease-in-out infinite alternate;
}

@keyframes beat {    
    0% {  transform: scale(1);
        border-radius: 0;
            
        
    }
    100% {    
        transform: scale(2);
        border-radius: 50%;
      
    }
}

@media(max-width: 1024px ) {    
    .container { 
        max-width: 1000px;
        margin: 0 auto;
        gap: .2rem;
       
    }
    
}
/* iPad MEDIA QUERY */
@media(max-width: 768px) {    
    .container {   
        display: grid; 
        max-width: 768px;
        grid-template-columns: repeat(2, 50%);
        gap: .5em;
        padding: 10px 5px;
    }
   
    .item-1 {
        grid-column: 1/ span 2;
        font: bold 1em/1.2 Oswald, sans-serif;
    }
    
    .item-2 {   
        grid-row: 2/ span 3;
        grid-column: 1;
        padding: 45px 10px 0px 10px;
    }
    
    .item-3 {    
        grid-column: 2;
        grid-row: 2;
    }
    
    .item-4 {
        grid-column: 2;
        grid-row: 3;
    }
    
    .hulk, .creation { 
        border-radius: 5px;
    }
    
    .inner {    
        margin-left: 20px;
        margin-top: 25px;
        position: absolute;
    }
    
    .spin-box { 
        box-sizing: border-box;
        width: 100px;
        height: 100px;
    }
    
    .spinner-1 {  
        background-color: #593C8F;
        opacity: .8;
        width:50px;
        height:50px;
        border-radius: 9px;
        animation: spin-clockwise 5s linear infinite;
        z-index: 0;

    }
    
    .spinner-2 {    
        width:50px;
        height:50px;
        border-radius: 9px;
        background-color: #F64740;
        opacity: .7;
        animation: spin-counter-clockwise 7s linear infinite;
        z-index: 2;
    }
    
    .spinner-3 {  
        background-color: #86C766;
        opacity: .8;
        width:50px;
        height:50px;
        border-radius: 9px;
        animation: spin-clockwise 8s linear infinite;
        z-index: 3;
    }
    
    
    .item-5 {
        background-color: #86C766;
        padding: 20px 0 0 10px;
        line-height: 20px;
        text-align: left;
        grid-column: 2;
        grid-row: 4;
    }
    
    .text-span {    
        font-size: 4em;
        font-family: 'Oswald', sans-serif;
    }
    
    .andy {
        margin: 20px 0 0 60px;
        font-weight: 300;
        font-size: 1em;
    }
    
    .quote {    
        letter-spacing: 1px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }
    
    .art-quote {    
        padding: 10px;
    }
    
    .item-6 {
        grid-column: 1;
        grid-row: 5;
    }
    
    .item-7 {    
        grid-column: 2;
        grid-row: 5;
        place-self: center;
    }
    
    .beat{  
        width: 40px;
        height: 40px;
        border-radius: 9px;
    }
    
    .item-8 {   
       justify-items: start !important; 
        grid-column: 1/ span 2;
        padding: 10px 0;
    }
    form{   
       margin-right: 5pxpx;
    }
    .text { 
        width: 6em;
         margin: 5px 5px 5px 0px;
         border-radius: 3px;
         border: 1px solid transparent; 
     }
    
     .check {    
        margin-left: 2px;
        accent-color: #593C8F;
    }
    
    .button {   
        padding: .5em .5em;
        border-radius: 5px;
        background-color: #0F0B07;
        color: white;
        margin-left: 5px;
        font-family: 'Roboto', sans-serif;
        border: 1px solid darkslategray;
       font-size: 13px;
    }
    
    label { 
        font-family: 'Roboto', sans-serif;
        font-weight: 400;
        color: #0F0B07;
        font-size: 12px;
    }
    
}
/* Mobile Phone Media Query */
@media(max-width: 375px) {    
    .container {   
        display: grid; 
        max-width: 320px;
        grid-template-columns: repeat(2, 50%);
        gap: .2em;
        padding: 10px 0px;
    }
    
    .grid-item {    
        border-radius: 5px;
    }
    
    .item-1 {
        text-align: center;
        grid-column: 1/ span 2;
        font-family: Oswald, sans-serif;
       padding-left: 10px;
    }

    .item-2 {   
        grid-row: 2/ span 3;
        grid-column: 1;
        padding-top: 65px;
        margin-left: 10px;
    }
 
    .inner {    
        position: fixed;
        align-self: center;
        /* margin: 30px 0px 0px 30px; */
    }
    
    .spin-box { 
      
        box-sizing: border-box;
        width: 100px;
        height: 100px;
    }

    .item-5 {
        background-color: #86C766;
        padding: 20px 0 0 10px;
        line-height: 20px;
        text-align: left;
        grid-column: 2;
        grid-row: 4;
    }
    
    .text-span {    
        font-size: 4em;
        font-weight: 200;
    }
    
    .andy {
        margin: 2px 0px 5px 40px;
        font-weight: 300;
        font-size: 1em;
    }
    
    .quote {    
        letter-spacing: 1px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
    }

    .item-6 {
        align-self: center;
        grid-column: 1;
        grid-row: 5;
    }
    
    .item-7 {    
        grid-column: 2;
        grid-row: 5;
        place-self: center;
    }
    
    .beat{  
        margin: 25px;
        background-color: #593C8F;
        width: 40px;
        height: 40px;
        border-radius: 9px;
        animation: beat 3s ease-in-out infinite alternate;
    }
    
    .item-8 {   
       justify-items: start !important; 
        grid-column: 1/ span 2;
      background-color: darkgray;
        padding: 10px 0;
    }
    form{   
       margin-right: 5px;
    }
    .text { 
        width: 6em;
         margin: 5px 5px 5px 0px;
         border-radius: 3px;
         border: 1px solid transparent; 
     }

  .checkbox-container { 
    display: block;
  }

     .check {  
        margin-left: 2px;
        accent-color: #593C8F;
    }
    
    .button {   
        padding: .5em .5em;
        border-radius: 5px;
        margin-left: 5px;
        border: 1px solid darkslategray;
       font-size: 13px;
    }
    
    label { 
        font-weight: 400;
        font-size: 12px;
    }
    
}

